<div class="form-group"
     ng-controller="SimpleMdeController"
     ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'has-feedback': form.feedback !== false }"
     schema-validate="form" sf-field-model >
  <!--<pre>{{form|json}}</pre>-->
  <label class="control-label" ng-show="showTitle()">{{form.title}}</label>
  <div class="pull-right dropdown" ng-class="{'open': open}" ng-if="form.locales && form.locales.length > 1">
    <a href class="dropdown-toggle badge" ng-click="toggleDropdown()">{{form.languages[selectedLocale]}} <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li ng-repeat="loc in form.locales"><a href ng-click="selectLocale(loc)">{{form.languages[loc]}}</a></li>
    </ul>
  </div>

  <pre>{{form.locales}} - {{selectedLocale}}</pre>

  <obiba-simple-mde ng-if="!form.readonly"
    ng-repeat="locale in form.locales"
    ng-model-options="{ allowInvalid: true }"
    sf-field-model="replaceAll"
    text="$$value$$[locale]"
    update="locale === selectedLocale"
    ng-show="locale === selectedLocale">
  </obiba-simple-mde>

  <textarea class="form-control" ng-if="form.readonly"
            ng-disabled="form.readonly"
            ng-model-options="{ allowInvalid: true }"
            sf-field-model="replaceAll" ng-model="$$value$$[locale]"
            rows="{{form.rows ? form.rows : 5}}"
            ng-repeat="locale in form.locales"
            ng-show="locale === selectedLocale"></textarea>

  <span class="help-block" sf-message="form.description"></span>
</div>
